
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Abouts</title>
</head> 
<body>
    <div> @ViewBag.name
        @Html.Partial("_MyPartialPage")
    </div>
</body>
</html>
